In [ ]:
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import glob
from matplotlib.ticker import PercentFormatter
import matplotlib.pyplot as plt
import os            
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
#change DIRECTORY TO downloads where final outputs ARE

os.chdir("/Users/Philip/Downloads/Inside Airbnb Raw Data/For Python")

In [ ]:
cities = ["cambridge", "boston"]
df_reviews= []
df_reviews=pd.DataFrame(df_reviews)
months = ["jan","feb","mar","april","may","june","july","august","sept","oct","nov","dec"]
years = ["2018","2019","2020"]

In [ ]:
# imported the requests library
import requests
file = "http://data.insideairbnb.com/united-states/ma/cambridge/2021-02-25/data/reviews.csv.gz"
  
# URL of the image to be downloaded is defined as file
r = requests.get(file) # create HTTP response object
  
# send a HTTP request to the server and save
# the HTTP response in a response object called r
with open("cambridge reviews.csv.gz",'wb') as f:
  
    # write the contents of the response (r.content)
    # to a new file in binary mode.
    f.write(r.content)

#cities = ["Cambridge", "Boston"]

In [ ]:
#for i in cities:
 #       df = pd.read_csv(str(i)+" reviews.csv")   
 #       df['City']=i
 #       df_reviews=pd.concat([df_reviews,df])

#df_reviews
#df_reviews['City']
#del df_reviews
#del df_review_final
df = pd.read_csv("reviews_nov_2020.csv")

In [ ]:
other_months = ["sept", "oct", "nov","dec"]
for i in months:
        df = pd.read_csv("reviews_"+str(i)+"_2020.csv")   
        df['Month']=i
        df['Year']="2020"
        df_reviews=pd.concat([df_reviews,df])
        del df
        df = pd.read_csv("reviews_2019_"+str(i)+".csv")   
        df['Month']=i
        df['Year']= "2019"
        df_reviews=pd.concat([df_reviews,df])
        del df
    
for k in other_months:
        df = pd.read_csv("reviews_2018_"+str(k)+".csv")   
        df['Month']=k
        df['Year']= "2018"
        df_reviews=pd.concat([df_reviews,df])  
        del df

In [ ]:
df = df_reviews
df['Year'] = pd.DatetimeIndex(df['date']).year
# df['Month']=pd.DatetimeIndex(df['date']).strftime("%B")
df['Month'] = pd.DatetimeIndex(df['date']).month

In [168]:
df_final = df_reviews[(df_reviews["date"] >="2018-09-01")& (df_reviews["date"] <"2020-09-01") ]

In [171]:
df_final['count'] = (df_final.groupby(["Year", "Month"])['Year'].transform('count'))

<ipython-input-171-ac25471f6726>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final['count'] = (df_final.groupby(["Year", "Month"])['Year'].transform('count'))

In [172]:
df_final

,listing_id,id,date,reviewer_id,reviewer_name,comments,Month,Year,count
14,3781,415389126,2019-02-22,83031353,Norman,My partner and I stayed at Frank's apartment f...,2,2019,113551
15,3781,579765013,2019-12-21,3918963,Antoine,I liked very much this apartment rented by Fra...,12,2019,64741
34,8789,322252190,2018-09-12,50244767,Joseph,This is a beautiful place in an unbelievable l...,9,2018,325957
35,8789,337823302,2018-10-17,34906132,Philippe,"logement exceptionnellement bien situé , mais ...",10,2018,360565
36,8789,341310209,2018-10-26,122320958,Krista,The location is excellent and the apartment ha...,10,2018,360565
...,...,...,...,...,...,...,...,...,...
123182,44821182,653517440,2020-08-19,361632383,Dymond,Highly recommend,8,2020,14654
123183,44821182,654898961,2020-08-22,361355771,Sasha,I love Mimis- I’m a regular here because it ha...,8,2020,14654
123184,44821182,659146527,2020-08-31,361355771,Sasha,See my previous review- I’m a regular here bec...,8,2020,14654
123191,44821202,656712617,2020-08-26,32633395,Luna,Terrible communication. Never gave me a refund...,8,2020,14654
123207,44824218,655665565,2020-08-23,26226656,Cristen,Very nice space for 4 people. Located in the t...,8,2020,14654

In [173]:
month_year = df_final.drop_duplicates(subset=['Year','Month','count'], inplace=True)

<ipython-input-173-6c906b74372d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  month_year = df_final.drop_duplicates(subset=['Year','Month','count'], inplace=True)

In [175]:
month_year

In [ ]:
#Fixed to include all months of the year from 2017 on

#df[(df['Year'] ==2020)&(df['Month'] ==9) ]
new = df[((df['Year'] <= 2018)&(df['Month'] >= 9)) ]

In [ ]:
df_review_final=df
#NOW FIGURE OUT THE COUNT PER EACH MONTH FROM SEPT 2018 THROUGH AUGUST 2020, SHOULD BE 24 months

In [ ]:
df_review_final['count'] = (df.groupby(["Year", "Month"])['Year'].transform('count'))

In [ ]:
new

In [ ]:
sum(df.duplicated(subset = ['comments']))

In [ ]:
df_reviews['Year'].isna().sum()

In [ ]:
df_review_final['Year'].isna().sum()

In [ ]:
df_review_final.head(50)

In [ ]:
df_review_final = df_reviews[df_reviews.duplicated(subset = ['comments'],keep='last')]

In [ ]:
sum(df_review_final.duplicated(subset = ['comments']))

In [ ]:
df_review_final['count'] = (df_review_final.groupby(["Year", "Month"])['Year'].transform('count'))
df_review_final
month_year = df_review_final.drop_duplicates(subset=['Year','Month','count'], inplace=True)

In [ ]:
df_review_final.drop(df_review_final[(df_review_final["Year"] == 2020) & (df_review_final["Month"] == other_months) ].index, inplace = True)

In [ ]:
df = df_reviews
df['Year'] = pd.DatetimeIndex(df['date']).year
# df['Month']=pd.DatetimeIndex(df['date']).strftime("%B")
df['Month'] = pd.DatetimeIndex(df['date']).month

#Fixed to include all months of the year from 2017 on

df.drop(df[(df["Year"] < 2017) | (df["Month"] < 1) ].index, inplace = True)

In [ ]:
df_review_final

In [ ]:
df_review_final['Group 1']=i

In [ ]:
df_listings['listing_id']=df_listings['id']

In [ ]:
result = pd.merge(df_listings,df_reviews, on="listing_id")

In [ ]:
result.head(5)

In [ ]:
#Add Count column by grouping
#df=df.groupby(["Year", "Month"])["Year"].count().reset_index(name="count")
df['count'] = (df.groupby(["Year", "Month",'listing_id'])['Month'].transform('count'))

In [ ]:
test = df[["Year", "Month","count",'listing_id']]
test.drop_duplicates(subset=['Year','Month'], inplace=True)
# test.shape
test.sort_values(by=['Year', 'Month'])

In [ ]:
test.shape

In [ ]:
ttest.columns

In [ ]:
stats.ttest_rel(ttest["2019"],ttest["2020"])

In [ ]:
#T test comparing 2019 to 2020 for each month???
ttest = test.pivot_table(index=['Month'], 
                      columns='Year', 
                      values='count', 
                      aggfunc='first').reset_index().rename_axis(None, axis=1)
#ttest.columns = ['Month','2018','2019','2020']
stats.ttest_rel(ttest['2019'],ttest['2020'])

In [ ]:
ttest.columns

In [ ]:
df.groupby(['Year','Month']).size()

In [ ]:
df

In [ ]:
# df['count'] = df.groupby(['Year']['Month'])['Month'].transform('count')

In [ ]:
#Add count variable 


# df = pd.read_csv("reviews.csv") 
# df['Year'] = pd.DatetimeIndex(df['date']).year
# # df['Month']=pd.DatetimeIndex(df['date']).strftime("%B")
# df['Month'] = pd.DatetimeIndex(df['date']).month
# df.drop(df[(df["Year"] < 2018) | (df["Month"] < 3) ].index, inplace = True)
df=df.groupby(["Year", "Month"])["Year"].count().reset_index(name="count")

In [ ]:
# Save a palette to a variable:
palette = sns.color_palette("bright")
 
# Use palplot and pass in the variable:
sns.palplot(palette)

In [ ]:

ax = sns.lineplot(x="Month", y="count", hue="Year",data=df, palette=sns.color_palette('bright', n_colors=3))
# ax.text(x,y, df['count'])
# label = '{.2f}'.format(df['count'])
# plt.annotate(label,  (x,y))
plt.suptitle('Number of Reviews in Boston and Cambridge')
plt.xlim(3, 12)
plt.savefig("Year on Year.png")

In [ ]:
#Find Unique properties ids number of comments per unique properties
df_reviews=pd.merge(df,df.groupby(['Year','Month'],as_index=False).count(), on=['Year','Month'])

In [ ]:
df_reviews

In [ ]:
#PERCENT OF REVIEWS COLUMNS HAVE NAN
(len(df_reviews)-df_reviews.count())/len(df_reviews))

In [ ]:
#percentage OF NAs by feature
(len(df_calendar)-df_calendar.count())/len(df_calendar)

In [ ]:
#SET THE STYLE
sns.set(style="darkgrid")

In [ ]:

ax3 = sns.catplot(x="Month", y="adjusted_price",hue="City",kind='box',data=df_calendar,height=12, aspect=1, showfliers=False, palette=sns.color_palette(['purple', 'yellow']))
#ax.legend(loc='upper right')
ax3.fig.suptitle('Adjusted Price Per Month by City')
#ax3.set_yscale("log")
#plt.yscale('log')
plt.savefig('adjprice.jpg')

In [ ]:

ax9 = sns.catplot(x="City",y='price',hue='Month', kind='box',showfliers=False,data=df_listings)
#ax.legend(loc='upper right')
ax9.fig.suptitle('Listing Prices Box Plot')
#plt.ylim(0, 30)
plt.savefig('listingprices.jpg')