In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import glob
from matplotlib.ticker import PercentFormatter
import matplotlib.pyplot as plt
import os

In [2]:
#change DIRECTORY TO downloads where final outputs ARE

os.chdir("/Users/Philip/Documents/GitHub/AirBnb")

In [3]:
cities = ["cambridge", "boston"]
df_reviews= []
df_reviews=pd.DataFrame(df_reviews)

In [15]:
# imported the requests library
import requests
file = "http://data.insideairbnb.com/united-states/ma/cambridge/2021-02-25/data/reviews.csv.gz"
  
# URL of the image to be downloaded is defined as file
r = requests.get(file) # create HTTP response object
  
# send a HTTP request to the server and save
# the HTTP response in a response object called r
with open("cambridge reviews.csv.gz",'wb') as f:
  
    # write the contents of the response (r.content)
    # to a new file in binary mode.
    f.write(r.content)

#cities = ["Cambridge", "Boston"]

In [4]:
for i in cities:
        df = pd.read_csv(str(i)+" reviews.csv")   
        df['City']=i
        df_reviews=pd.concat([df_reviews,df])

df_reviews

,listing_id,id,date,reviewer_id,reviewer_name,comments,City
0,8521,6009,2009-07-23,25629,Mara,This is a fabulous apartment! Great neighborh...,cambridge
1,8521,6386,2009-07-30,26357,Stephanie,"Wonderful host and hostess, great home, locati...",cambridge
2,8521,6910163,2013-08-30,5747319,Lynette,We had a delightful 2 week stay in Cambridge. ...,cambridge
3,8521,37307811,2015-07-06,27670573,Salina,We had a great time during our short stay in C...,cambridge
4,8521,38475589,2015-07-16,10811805,Benoni,Janet's place is as beautiful as portrayed. Ni...,cambridge
...,...,...,...,...,...,...,...
109715,48027924,729245539,2021-02-06,124232245,Chris,"This place is awesome, I would move, rent this...",boston
109716,48027924,731281029,2021-02-14,238149729,Neil,This apartment is spacious and in a central lo...,boston
109717,48060725,732390021,2021-02-18,371368583,Rylie,Good value!,boston
109718,48091769,730342395,2021-02-11,86645419,Andrew,Only one tv and bring groceries,boston
109719,48110114,731974484,2021-02-16,119382989,Mark,Great place to\nStay,boston

In [5]:
df = df_reviews
df['Year'] = pd.DatetimeIndex(df['date']).year
# df['Month']=pd.DatetimeIndex(df['date']).strftime("%B")
df['Month'] = pd.DatetimeIndex(df['date']).month

#Fixed to include all months of the year from 2017 on

df.drop(df[(df["Year"] < 2017) | (df["Month"] < 1) ].index, inplace = True)  
#df=df.groupby(["Year", "Month"])["Year"].count().reset_index(name="count")
df['count'] = (df.groupby(["Year", "Month"])['Month'].transform('count'))

In [6]:
test = df[["Year", "Month","count"]]
test.drop_duplicates(subset=['Year','Month'], inplace=True)
# test.shape
test.sort_values(by=['Year', 'Month'])

<ipython-input-6-9bcf665e6663>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.drop_duplicates(subset=['Year','Month'], inplace=True)

      Year  Month  count
720   2017      1    480
722   2017      2    467
208   2017      3    947
159   2017      4   1569
161   2017      5   2012
162   2017      6   1702
741   2017      7   1995
742   2017      8   2129
926   2017      9   2222
163   2017     10   2648
1852  2017     11   1563
2700  2017     12   1123
3853  2018      1   1061
3857  2018      2   1017
1854  2018      3   1886
166   2018      4   2487
168   2018      5   3041
170   2018      6   3129
171   2018      7   3062
460   2018      8   3631
173   2018      9   3647
175   2018     10   4132
176   2018     11   2797
1488  2018     12   1743
468   2019      1   1512
1890  2019      2   1579
469   2019      3   2672
213   2019      4   3314
177   2019      5   4300
473   2019      6   4321
178   2019      7   3804
498   2019      8   4090
179   2019      9   4373
1918  2019     10   4358
480   2019     11   3027
1928  2019     12   2321
180   2020      1   1996
214   2020      2   2029
1930  2020      3   1709
6291  2020      4    255
4657  2020      5    490
6292  2020      6    764
6294  2020      7   1383
2706  2020      8   1749
3127  2020      9   1559
6298  2020     10   2029
2707  2020     11   1519
4013  2020     12   1040
3128  2021      1   1217
3925  2021      2    546

NameError: name 'ttest' is not defined

In [91]:
ttest.columns

Index(['Month', 2018, 2019, 2020], dtype='object')

In [107]:
#T test comparing 2019 to 2020 for each month???
ttest = test.pivot_table(index=['Month'], 
                      columns='Year', 
                      values='count', 
                      aggfunc='first').reset_index().rename_axis(None, axis=1)
ttest.columns = ['Month','2018','2019','2020']
stats.ttest_rel(ttest['2019'],ttest['2020'])

Ttest_relResult(statistic=7.760548276167379, pvalue=2.8193880566152844e-05)

In [20]:
df.groupby(['Year','Month']).size()

Year  Month
2018  3        1627
      4        2149
      5        2648
      6        2669
      7        2677
      8        3210
      9        3195
      10       3642
      11       2476
      12       1536
2019  3        2294
      4        2912
      5        3797
      6        3845
      7        3435
      8        3677
      9        3942
      10       3923
      11       2699
      12       2084
2020  3        1557
      4         217
      5         436
      6         697
      7        1269
      8        1604
      9        1443
      10       1882
      11       1410
      12        959
dtype: int64

In [ ]:
df

In [ ]:
# df['count'] = df.groupby(['Year']['Month'])['Month'].transform('count')

In [ ]:
#Add count variable 


# df = pd.read_csv("reviews.csv") 
# df['Year'] = pd.DatetimeIndex(df['date']).year
# # df['Month']=pd.DatetimeIndex(df['date']).strftime("%B")
# df['Month'] = pd.DatetimeIndex(df['date']).month
# df.drop(df[(df["Year"] < 2018) | (df["Month"] < 3) ].index, inplace = True)
df=df.groupby(["Year", "Month"])["Year"].count().reset_index(name="count")

In [ ]:
# Save a palette to a variable:
palette = sns.color_palette("bright")
 
# Use palplot and pass in the variable:
sns.palplot(palette)

In [ ]:

ax = sns.lineplot(x="Month", y="count", hue="Year",data=df, palette=sns.color_palette('bright', n_colors=3))
# ax.text(x,y, df['count'])
# label = '{.2f}'.format(df['count'])
# plt.annotate(label,  (x,y))
plt.suptitle('Number of Reviews in Boston and Cambridge')
plt.xlim(3, 12)
plt.savefig("Year on Year.png")

In [ ]:
#Find Unique properties ids number of comments per unique properties
df_reviews=pd.merge(df,df.groupby(['Year','Month'],as_index=False).count(), on=['Year','Month'])

In [ ]:
df_reviews

In [ ]:
#PERCENT OF REVIEWS COLUMNS HAVE NAN
(len(df_reviews)-df_reviews.count())/len(df_reviews))

In [ ]:
#percentage OF NAs by feature
(len(df_calendar)-df_calendar.count())/len(df_calendar)

In [ ]:
#SET THE STYLE
sns.set(style="darkgrid")

In [ ]:

ax3 = sns.catplot(x="Month", y="adjusted_price",hue="City",kind='box',data=df_calendar,height=12, aspect=1, showfliers=False, palette=sns.color_palette(['purple', 'yellow']))
#ax.legend(loc='upper right')
ax3.fig.suptitle('Adjusted Price Per Month by City')
#ax3.set_yscale("log")
#plt.yscale('log')
plt.savefig('adjprice.jpg')

In [ ]:

ax9 = sns.catplot(x="City",y='price',hue='Month', kind='box',showfliers=False,data=df_listings)
#ax.legend(loc='upper right')
ax9.fig.suptitle('Listing Prices Box Plot')
#plt.ylim(0, 30)
plt.savefig('listingprices.jpg')