In [77]:
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
import glob
from matplotlib.ticker import PercentFormatter
import matplotlib.pyplot as plt
import os

In [12]:
#change DIRECTORY TO downloads where final outputs ARE

os.chdir("/Users/Philip/Documents/GitHub/AirBnb")

In [14]:
cities = ["cambridge", "boston"]
df_reviews= []
df_reviews=pd.DataFrame(df_reviews)

In [15]:
# imported the requests library
import requests
file = "http://data.insideairbnb.com/united-states/ma/cambridge/2021-02-25/data/reviews.csv.gz"
  
# URL of the image to be downloaded is defined as file
r = requests.get(file) # create HTTP response object
  
# send a HTTP request to the server and save
# the HTTP response in a response object called r
with open("cambridge reviews.csv.gz",'wb') as f:
  
    # write the contents of the response (r.content)
    # to a new file in binary mode.
    f.write(r.content)

#cities = ["Cambridge", "Boston"]

In [ ]:
for i in cities:
        df = pd.read_csv(str(i)+" reviews.csv")   
        df['City']=i
        df_reviews=pd.concat([df_reviews,df])

df_reviews

In [29]:
df = df_reviews
df['Year'] = pd.DatetimeIndex(df['date']).year
# df['Month']=pd.DatetimeIndex(df['date']).strftime("%B")
df['Month'] = pd.DatetimeIndex(df['date']).month
df.drop(df[(df["Year"] < 2018) | (df["Month"] < 3) ].index, inplace = True)
#df=df.groupby(["Year", "Month"])["Year"].count().reset_index(name="count")
df['count'] = (df.groupby(["Year", "Month"])['Month'].transform('count'))

In [70]:
test = df[["Year", "Month","count"]]
test.drop_duplicates(subset=['Year','Month'], inplace=True)
# test.shape
test.sort_values(by=['Year', 'Month'])

<ipython-input-70-9bcf665e6663>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.drop_duplicates(subset=['Year','Month'], inplace=True)

       Year  Month  count
2701   2018      3   1627
3866   2018      4   2149
2323   2018      5   2648
1867   2018      6   2669
172    2018      7   2677
497    2018      8   3210
173    2018      9   3195
175    2018     10   3642
176    2018     11   2476
1488   2018     12   1536
1491   2019      3   2294
213    2019      4   2912
177    2019      5   3797
882    2019      6   3845
178    2019      7   3435
498    2019      8   3677
179    2019      9   3942
1918   2019     10   3923
483    2019     11   2699
1928   2019     12   2084
1930   2020      3   1557
8071   2020      4    217
18830  2020      5    436
18831  2020      6    697
11165  2020      7   1269
2706   2020      8   1604
6296   2020      9   1443
6298   2020     10   1882
2707   2020     11   1410
4013   2020     12    959

In [87]:
ttest

   Month  2018  2019  2020
0      3  1627  2294  1557
1      4  2149  2912   217
2      5  2648  3797   436
3      6  2669  3845   697
4      7  2677  3435  1269
5      8  3210  3677  1604
6      9  3195  3942  1443
7     10  3642  3923  1882
8     11  2476  2699  1410
9     12  1536  2084   959

In [91]:
ttest.columns

Index(['Month', 2018, 2019, 2020], dtype='object')

In [88]:
ttest.rename(columns={"Month", "2018, "2019", "2020"})

SyntaxError: invalid syntax (<ipython-input-88-9ff8ac642e7d>, line 1)

In [ ]:
#T test comparing 2019 to 2020 for each month???
ttest = test.pivot_table(index=['Month'], 
                      columns='Year', 
                      values='count', 
                      aggfunc='first').reset_index().rename_axis(None, axis=1)
stats.ttest_rel(df[2], df[3])

In [96]:
ttest.columns = ['Month','2018','2019','2020']

In [99]:
stats.ttest_rel(ttest['2018'],ttest['2019'])

Ttest_relResult(statistic=-6.725384852035949, pvalue=8.601741925114262e-05)

In [20]:
df.groupby(['Year','Month']).size()

Year  Month
2018  3        1627
      4        2149
      5        2648
      6        2669
      7        2677
      8        3210
      9        3195
      10       3642
      11       2476
      12       1536
2019  3        2294
      4        2912
      5        3797
      6        3845
      7        3435
      8        3677
      9        3942
      10       3923
      11       2699
      12       2084
2020  3        1557
      4         217
      5         436
      6         697
      7        1269
      8        1604
      9        1443
      10       1882
      11       1410
      12        959
dtype: int64

In [ ]:
df

In [ ]:
# df['count'] = df.groupby(['Year']['Month'])['Month'].transform('count')

In [ ]:
#Add count variable 


# df = pd.read_csv("reviews.csv") 
# df['Year'] = pd.DatetimeIndex(df['date']).year
# # df['Month']=pd.DatetimeIndex(df['date']).strftime("%B")
# df['Month'] = pd.DatetimeIndex(df['date']).month
# df.drop(df[(df["Year"] < 2018) | (df["Month"] < 3) ].index, inplace = True)
df=df.groupby(["Year", "Month"])["Year"].count().reset_index(name="count")

In [ ]:
# Save a palette to a variable:
palette = sns.color_palette("bright")
 
# Use palplot and pass in the variable:
sns.palplot(palette)

In [ ]:

ax = sns.lineplot(x="Month", y="count", hue="Year",data=df, palette=sns.color_palette('bright', n_colors=3))
# ax.text(x,y, df['count'])
# label = '{.2f}'.format(df['count'])
# plt.annotate(label,  (x,y))
plt.suptitle('Number of Reviews in Boston and Cambridge')
plt.xlim(3, 12)
plt.savefig("Year on Year.png")

In [ ]:
#Find Unique properties ids number of comments per unique properties
df_reviews=pd.merge(df,df.groupby(['Year','Month'],as_index=False).count(), on=['Year','Month'])

In [ ]:
df_reviews

In [ ]:
#PERCENT OF REVIEWS COLUMNS HAVE NAN
(len(df_reviews)-df_reviews.count())/len(df_reviews))

In [ ]:
#percentage OF NAs by feature
(len(df_calendar)-df_calendar.count())/len(df_calendar)

In [ ]:
#SET THE STYLE
sns.set(style="darkgrid")

In [ ]:

ax3 = sns.catplot(x="Month", y="adjusted_price",hue="City",kind='box',data=df_calendar,height=12, aspect=1, showfliers=False, palette=sns.color_palette(['purple', 'yellow']))
#ax.legend(loc='upper right')
ax3.fig.suptitle('Adjusted Price Per Month by City')
#ax3.set_yscale("log")
#plt.yscale('log')
plt.savefig('adjprice.jpg')

In [ ]:

ax9 = sns.catplot(x="City",y='price',hue='Month', kind='box',showfliers=False,data=df_listings)
#ax.legend(loc='upper right')
ax9.fig.suptitle('Listing Prices Box Plot')
#plt.ylim(0, 30)
plt.savefig('listingprices.jpg')